{% extends 'base.html.twig' %}

{% block title %}Create event{% endblock %}

{% block body %}

    <div class="container h-100 d-flex justify-content-around align-items-center">   <!--  padding: 15px; margin: auto; margin-top: 30px; -->

        <div class="card" style="max-width: 45rem;">
            <div class="card-body">
                <h3 class="card-title text-center">Create event</h3>
                <p class="card-text">
                    {{ include('form/event/_form.html.twig', {
                        event: newEvent,
                        button_text: 'Create'
                    }) }}
                    {# action_path: path('app_edit_map', {'id': editMap.vars.data.id }), #}
                </p>
            </div>
        </div>

        {{ include('form/event/collection/selectBossModalWindow.html.twig') }}
        {{ include('form/event/collection/createBossModalWindow.html.twig') }}

    </div>

{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/event_form.js') }}"></script>
    <script src="{{ asset('js/event_boss_modal_form.js') }}"></script>
{% endblock %}