{% extends 'base.html.twig' %}

{% block title %}Log history{% endblock %}

{% block container %}

    <div style="width: 100%; text-align: center;" >
        <p><h2>Logs</h2></p>
    </div>


    <div class="d-flex justify-content-center">

        <div style="width: 75%; ">
            {% for log in logs %}
                <div class="card mb-2 d-flex flex-row">
                    <img class="card-img-top" src="{{ asset('images/device/' ~ log.deviceSystem ~ '.png') }}" alt="Device {{ log.deviceSystem }}" style="object-fit: contain; width: 120px; height: 75px;"/>
                    <div class="card-body">
                        <div class="card-text container">
                            <div class="row">
                                <div class="col-sm m-auto" style="text-align: center">Device: {{ log.deviceSystem }}</div>
                                <div class="col-sm m-auto"><b>City: {{ log.userTown }}</b></div>
                                <div class="col-sm m-auto">IP: {{ log.userIp }}</div>
                                <div class="col-sm">Login date:</br>{{ log.startSessionDate|date }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}
