{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}

    <div class="jumbotron d-flex align-items-center" style="height: 85%;">
        <div class="container" style="width: 25rem;">   <!--  padding: 15px; margin: auto; margin-top: 30px; -->
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Change password</h3>
                    <p class="card-text">
                        {{ form_start(changePasswordForm, {'action': path('app_user_change_password'), 'method': 'POST'})}}
                        {% if changePasswordForm.vars.errors|length > 0 %}
                            {{ form_errors(changePasswordForm) }}
                        {% endif %}
                            {{ form_row(changePasswordForm.oldPassword) }}
                            {{ form_row(changePasswordForm.newPassword.first) }}
                            {{ form_row(changePasswordForm.newPassword.second) }}

                            <button class="btn btn-primary btn-block" type="submit" style="margin-top: 10px;">
                                Change
                            </button>

                        {{ form_end(changePasswordForm) }}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}