{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}

    <div class="jumbotron d-flex align-items-center" style="height: 85%;">
        <div class="container" style="width: 25rem;">   <!--  padding: 15px; margin: auto; margin-top: 30px; -->
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Create new account</h3>
                    <p class="card-text">
                        {{ form_start(registerForm, {'action': path('app_register'), 'method': 'POST'})}}
                            {{ form_row(registerForm.email) }}
                            {{ form_row(registerForm.password.first) }}
                            {{ form_row(registerForm.password.second) }}
                            <div class="checkbox mb-3">
                                    {{ form_row(registerForm.acceptTerms) }}
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{{ path("app_login") }}">I have an account</a>

                                <button class="btn btn-primary btn-block" type="submit">
                                    Register
                                </button>
                            </div>

                        {{ form_end(registerForm) }}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}